In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

In [4]:
import seaborn as sns

In [5]:
data = pd.read_csv('titanic.csv')

In [6]:
print("First 5 rows of the dataset:")

First 5 rows of the dataset:

In [7]:
print(data.head())

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare  \
0            1         0       3    Male  22.0      1      0   7.2500
1            2         1       1  female  38.0      1      0  71.2833
2            3         1       3  female  26.0      0      0   7.9250
3            4         1       1  female  35.0      1      0  53.1000
4            5         0       3    Male  35.0      0      0   8.0500

   Embarked
0         3
1         1
2         3
3         3
4         3

In [8]:
print("\nMissing values in each column:")

Missing values in each column:

In [11]:
print(data.isnull().sum())

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
dtype: int64

In [12]:
print("\nDescriptive statistics:")

Descriptive statistics:

In [17]:
print(data.describe(include='all'))

        PassengerId    Survived      Pclass   Sex         Age       SibSp  \
count    889.000000  889.000000  889.000000   889  889.000000  889.000000
unique          NaN         NaN         NaN     2         NaN         NaN
top             NaN         NaN         NaN  Male         NaN         NaN
freq            NaN         NaN         NaN   577         NaN         NaN
mean     446.000000    0.382452    2.311586   NaN   35.686355    0.524184
std      256.998173    0.486260    0.834700   NaN   17.756733    1.103705
min        1.000000    0.000000    1.000000   NaN    0.420000    0.000000
25%      224.000000    0.000000    2.000000   NaN   22.000000    0.000000
50%      446.000000    0.000000    3.000000   NaN   32.000000    0.000000
75%      668.000000    1.000000    3.000000   NaN   54.000000    1.000000
max      891.000000    1.000000    3.000000   NaN   80.000000    8.000000

             Parch        Fare    Embarked
count   889.000000  889.000000  889.000000
unique         NaN         NaN         NaN
top            NaN         NaN         NaN
freq           NaN         NaN         NaN
mean      0.382452   32.096681    2.535433
std       0.806761   49.697504    0.792088
min       0.000000    0.000000    1.000000
25%       0.000000    7.895800    2.000000
50%       0.000000   14.454200    3.000000
75%       0.000000   31.000000    3.000000
max       6.000000  512.329200    3.000000

In [18]:
print("\nDimensions of the DataFrame:")

Dimensions of the DataFrame:

In [19]:
print(data.shape)

(889, 9)

In [24]:
print("\nData types of each column:")

Data types of each column:

In [25]:
print(data.dtypes)

PassengerId      int64
Survived         int64
Pclass           int64
Sex             object
Age            float64
SibSp            int64
Parch            int64
Fare           float64
Embarked         int64
dtype: object

In [26]:
data['Survived'] = data['Survived'].astype('category')

In [27]:
data['Pclass'] = data['Pclass'].astype('category')

In [28]:
print("\nData types after conversion:")
print(data.dtypes)

Data types after conversion:
PassengerId       int64
Survived       category
Pclass         category
Sex              object
Age             float64
SibSp             int64
Parch             int64
Fare            float64
Embarked          int64
dtype: object